body {
    background-color: black;
  }

.login {
    background-color: rgb(49, 46, 46);
    width: 390px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    transition: 0.3s;
    border: none;
    height: 57.8vh;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

.login-card h2 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color:aliceblue
  }

.login-card input {
    width: 85%;
    margin-bottom: 15px;
    border-bottom: 1px solid rgb(0, 0, 0);
    background-color: transparent;
    outline: none;
    height: 37px;
    color: aliceblue;
    font-size: 16px;
    margin: 21px 0px;
    padding: 0px 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    transition: 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.login-card label {
    color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    margin-left: 24px;
}

.login-card button {
    border: none;
    outline: none;
    height: 45px;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    font-size: 18px;
    border-radius: 6px;
    width: 93%;
    margin-top: 10px;
    margin: 10px 0px;
    padding: 0px 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 6px;
    transition: 0.3s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -20px; 

}

.login-card input[type="submit"]:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}

.login-card button:hover {
    cursor: pointer;
    background-color: rgb(83, 83, 83);
    color: aliceblue;
}

.login-card a {
    text-decoration: none;
    font-size: 17px;
    line-height: 40px;
    transition: 0.3s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: -20px;
    position: relative;
    margin-left: 20px;   
}

body[data-theme='dark'] .login-card h2 {
    color: rgb(255, 255, 255);
}

body[data-theme='light'] .login-card h2 {
    color: rgb(0, 0, 0);
}

body[data-theme='dark'] .login-card input {
    background-color: rgb(83, 83, 83);
    color: rgb(255, 255, 255);
}

body[data-theme='light'] .login-card input {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

body[data-theme='dark'] .login-card label {
    color: rgb(255, 255, 255);
}

body[data-theme='light'] .login-card label {
    color: rgb(0, 0, 0);
}

body[data-theme='light'] .login-card a {
    color: rgb(0, 0, 0);
}

body[data-theme='dark'] .login-card a {
    color: rgb(255, 255, 255);
}

body[data-theme='light'] .login-card button {
    background-color: DodgerBlue;
    color: aliceblue;
    border: 1px solid dodgerblue;
}

body[data-theme='dark'] .login-card button {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

body[data-theme='light'] .login-card button:hover {
    background-color: rgb(0, 115, 230);
    color: aliceblue;
}

body[data-theme='dark'] .login-card button:hover {
    background-color: rgb(83, 83, 83);
    color: rgb(255, 255, 255);
}
